.info {
  display: flex;
  flex-direction: column;
}

.info input {
  width: 10vw;
}

.person-info, .contact-info, .address-info {
  display: flex;
  flex-direction: row;
  margin: 0.2vw;
  justify-content: center;
}

