.shopping-cart {
  margin: auto;
  width: 90%;
  padding: 1vw;
}

.shopping-cart .btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.shopping-cart-product {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #909090;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5vw auto;
  padding: 0.8vw;
  transition: all 0.2s ease-in-out;
  width: 75%;
}

.shopping-cart-product img {
  width: 3vw;
}

.shopping-cart-product .title {
  width: 65%;
}

.shopping-cart-product .price {
  text-align: center;
  width: 15%;
}
