/* Adicionei essa shadow nos produtos só para dar mais visibilidade aos produtos separados */
.product {
  box-shadow: 1px 1px 10px gray;
  width: 15vw;
  padding: 1vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 20px rgb(176, 176, 176);
}

li {
  list-style: none;
}

.list-products {
  display: flex;
}